{% extends "base.html" %}

{% block content %}

<div class="container">
  <h2 class="tituloPagina pb-2 mt-4">{{ title }}</h2>
  <div class="row mx-auto mt-3">
    <div class="row align-items-start mt-3 justify-content-center">
      <div class="todasasvagas row">
        {% if vaga.items %}
      {% for vagas in vaga.items %}

      <div class="col-md-6">
          <div class="card mb-3 mx-auto p-3" id="{{ vagas.id }}">
            <div class="row align-items-start mb-3">
              <div class="col-md-4"><img class="vagaImagem" src="{{ url_for('static', filename= 'img/' + vagas.foto_vaga) }}" alt=""></div>
              <div class="col-md-6">
                <h5>{{vagas.titulo}}</h5>
                <p class="card-text"><small class="text-muted autor"><a class="detalhesVaga" href="{{ url_for('user', username=vagas.autor.username)}}">{{vagas.autor.username}}</a></small></p>
                <p class="card-text tag {{vagas.curso}}"><small>{{vagas.curso}}</small></p>
                <p class="card-text tag duracao"><small><i class="far fa-clock"></i> {{vagas.prazoInicial.strftime('%d/%m/%Y')}} até {{vagas.prazoFinal.strftime('%d/%m/%Y')}}</small></p>
              </div>
              <div class="col-md-2 text-end">
            {% if current_user.favoritou_vaga(vagas) %}
            <a id=desfav_{{vagas.id}} class="linkFavoritar"><i class="fas fa-star botaoFavorito"></i></a>
            {% else %}
            <a id=fav_{{vagas.id}} class="linkFavoritar"><i class="far fa-star botaoFavorito2"></i></a>
            {% endif %}
                
                
                
              </div>
            </div>
            <div class="row align-items-start mb-3">
              <div class="col-md-6">
                <a data-id={{vagas.id}} class="detalhesVaga text-decoration-underline" onclick="verDetalhes(this)">Saiba mais</a>
              </div>
              <div class="col-md-6 text-end">
                {% if vagas.prazoFinal > data_agora %}
            {% if current_user.candidatou_vaga(vagas) %}
            <a id=descand_{{vagas.id}} type="button" class="btn btn-secondary linkCandidatar">Remover Inscrição</a>
            {% else %}
            <a id=cand_{{vagas.id}} type="button" class="btn btn-primary linkCandidatar">Candidatar-se</a>
            {% endif %}
            {% else %} 
            <button type="button" class="btn btn-secondary" disabled>Inscrições Encerradas</button>
            {% endif %}
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
      {% else %}
      <div class="text-center">
        <h2>Você não se candidatou para nenhuma vaga</h2>
      </div>
      {% endif %}
      </div>
      <div class="text-center">
      {% for page_num in vaga.iter_pages() %}
      {% if page_num %}
        <a class=" botaoPaginacao mb-4" href="{{ url_for (request.endpoint, page=page_num, **request.view_args)}}">{{ page_num }}</a>
      {% else %}
      ... 
      {% endif %}
      {% endfor %}
      </div>
    </div>
  </div>
</div>


    <div class="modal fade" id="detalhes" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="nome_modal">Detalhes</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body" id="dados">
            <p id="conteudoDetalhes"></p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
          </div>
        </div>
      </div>
    </div>
{% endblock%}
