{% extends "base.html" %}

{% block content %}
<div class="container">
    <h2 class="tituloPagina pb-2 mt-4 mb-4">{{ title }}</h2>
    <div class="row">
        <div class="col-md-4 com-sm-4 col-xs-12"></div>
        <div class="col-md-4 com-sm-4 col-xs-12">
            <form method="post" class="mt-4" enctype="multipart/form-data">
                {{ form.hidden_tag() }}
                <div>
                {{ form.titulo.label(class="form-label") }}<br>
                {{ form.titulo(class="inputLogin") }}<br>
                </div>
        
                <div>
                    {{ form.curso.label(class="form-label") }}<br>
                    {{ form.curso(class="inputLogin") }}<br>
                </div>
                <div>
                    <div>
                        <div class="d-inline">{{ form.descricao.label(class="form-label") }}</div><div class="info d-inline">
                            <i class="fas fa-question-circle"></i></i>
                    
                          <span class="extra-info">
                            Escreva informações que detalhem a vaga, a exemplo: como será o empgrego, competências necessárias, horas semanais, endereço e salário.
                          </span>
                        </div><br>
                    </div>
                    {{ form.descricao(class="inputLogin") }}<br>
                </div>
        
                <div>
                    <div class="d-inline">{{ form.prazoFinal.label(class="form-label") }}</div><div class="info d-inline">
                        <i class="fas fa-question-circle"></i></i>
                
                      <span class="extra-info">
                        As incrições serão automaticamente encerradas nesta data. Você pode extender o prazo a qualquer momento.
                      </span>
                    </div> <br>
                    {{ form.prazoFinal(type="date", class="inputLogin") }}<br>
                </div>
                <div>
                    {{ form.picture.label(class="form-label") }}<br>
                    {{ form.picture(class="form-control") }}<br>
                    <div id="emailHelp" class="form-text">
                        {% for error in form.picture.errors %}
                        <span style="color: red;">{{ error }}</span>
                        {% endfor %}
                    </div>
                </div>
                <div class="mt-3 text-center">{{ form.submit(class="botaoLoginCadastro") }}</div>
            </form>
        </div>
        <div class="col-md-4 com-sm-4 col-xs-12"></div>
    </div>
</div>
{% endblock %}