{% extends "base.html" %}
{% block content %}
<div class="container perfilContainer mx-auto">
<h2 class="tituloPagina pb-2 mt-4">{{ title }}</h2>
<form method="post" enctype="multipart/form-data">
  {{ form.hidden_tag() }}
  <div class="mx-auto mt-5">
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert-{{ category }} mx-auto" style="max-width: 800px;" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
  {% endwith %}
    <div class="row align-items-start mt-3 formPerfil">
      <div class="col-md">
        <div class="text-center">
          <img src="{{foto}}" class="fotoPerfil rounded-circle border border-secondary mb-3">
          <div class="botaoAnexar">
            {{ form.picture.label(for="picture")}}
            {{ form.picture() }}
            <div id="emailHelp" class="form-text">
              {% for error in form.picture.errors %}
              <span style="color: red;">{{ error }}</span>
              {% endfor %}
          </div>
          <span id='foto-name'></span>
          </div>
        </div>
      </div>
      <div class="col-md">
        <div class="flex-grow-1 ms-3">
          <div>
          {{ form.username.label(class="form-label")}}
          {{ form.username(class="form-control", placeholder="Usuário")}}
          <div id="emailHelp" class="form-text">
            {% for error in form.username.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </div>
      </div>
          <div>
          {{ form.email.label(class="form-label")}}
          {{ form.email(class="form-control", placeholder="Email")}}
          <div id="emailHelp" class="form-text">
            {% for error in form.email.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </div>
      </div>
      <div class="row g-3">
          <div class="col-md">
            {{ form.telefone.label(class="form-label")}}
            {{ form.telefone(class="form-control", placeholder="Telefone")}}
            <div id="emailHelp" class="form-text">
              {% for error in form.telefone.errors %}
              <span style="color: red;">{{ error }}</span>
              {% endfor %}
          </div>
        </div>
            {% if current_user.type_user == 'egr' %}
            <div class="col botaoCurriculo">
              <label class="form-label">Currículo</label>
              {{ form.curriculo.label(for="curriculo", class="form-control", id="curriculoLabel")}}
              {{ form.curriculo(class="form-control ")}}
              {% if current_user.curriculo != '' %}
              <a href="{{curriculo}}" target="_blank">Seu currículo</a>
              {% endif %}
              <span id='curriculo-name'></span>
              <div id="emailHelp" class="form-text">
                {% for error in form.curriculo.errors %}
                <span style="color: red;">{{ error }}</span>
                {% endfor %}
            </div>
          </div>
              {% endif %}
      </div>
          <div>
            {{ form.info.label(class="form-label")}}
            {{ form.info(class="form-control", placeholder="Escreva um pouco sobre você...")}}
            <div id="emailHelp" class="form-text">
              {% for error in form.info.errors %}
              <span style="color: red;">{{ error }}</span>
              {% endfor %}
          </div>
          <div class="text-end mt-4">
            {{ form.submit(class="botaoLoginCadastro") }}
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</form>
</div>
{% endblock %}
