{% extends "base.html" %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 com-sm-4 col-xs-12"></div>
        <div class="col-md-4 com-sm-4 col-xs-12">
            <form id="cadstro" class="form-container" action="" method="POST">
                {{ form.hidden_tag() }}
                <div class="mx-auto text-center mb-4"><img class="imgmenu" src="{{ url_for('static', filename= 'img/logo.png') }}" alt=""></div>
                <div class='login'><h4>Cadastro de Empresa</h4></div>
                <div class="mb-3">
                    {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                            {% for category, message in messages %}
                                <div class="alert alert-{{ category }}" role="alert">
                                    {{ message }}
                                  </div>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                </div>
                <div class="mb-3">
                    {{ form.username(class="inputLogin", placeholder="Nome de Usuário") }}
                    <div id="emailHelp" class="form-text">
                        {% for error in form.username.errors %}
                        <span style="color: red;">{{ error }}</span>
                        {% endfor %}
                    </div>
                </div>
                <div class="mb-3">
                    {{ form.email(class="inputLogin", placeholder="Email") }}
                    <div id="emailHelp" class="form-text">
                        {% for error in form.email.errors %}
                        <span style="color: red;">{{ error }}</span>
                        {% endfor %}
                    </div>
                </div>
                <div class="mb-3">
                    {{ form.matricula_cnpj(class="inputLogin", placeholder="CNPJ") }}
                    <div id="emailHelp" class="form-text">
                        {% for error in form.matricula_cnpj.errors %}
                        <span style="color: red;">{{ error }}</span>
                        {% endfor %}
                    </div>
                </div>
                <div class="mb-3">
                    {{ form.password(type="password", class="inputLogin", placeholder="Senha") }}
                    <div id="emailHelp" class="form-text">
                        {% for error in form.password.errors %}
                        <span style="color: red;">{{ error }}</span>
                        {% endfor %}
                    </div>
                </div>
                <div class="mb-3">
                    {{ form.password2(type="password", class="inputLogin", placeholder="Confirmar Senha") }}
                    <div id="emailHelp" class="form-text">
                        {% for error in form.password2.errors %}
                        <span style="color: red;">{{ error }}</span>
                        {% endfor %}
                    </div>
                </div>
                  <div class="gap-2 text-center">
                  {{ form.submit(class="botaoLoginCadastro") }}
                </div>
            </form>
            <div class='footerLogin mt-5'>
                <p>Já possui cadastro? <a href="{{ url_for('login') }}">Entrar</a></p>
            </div>
        </div>
        <div class="col-md-4 com-sm-4 col-xs-12"></div>
    </div>
</div>
{% endblock %}