{% extends "base.html" %}

{% block content %}

<script id="listTemplate" type="text/x-jQuery-tmpl">
  <div class="row g-0 p-4">
    <div class="col-md-4">
      <img src="/static/img/${imagem}" class="vagaImagem img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title tituloVaga">${titulo} </h5>
        <p class="card-text"><small class="text-muted autor">${autor}</small></p>
        <p class="card-text">${descricao}</p>
        <p class="card-text tag ${curso}"><small>${curso}</small></p>
        <p class="card-text tag duracao"><small><i class="far fa-clock"></i> ${prazoInicial} até ${prazoFinal}</small></p>
        <br>
        <a data-id=${id} onclick="editarVaga(this)" type="button" class="btn btn-primary">Editar</a>
        <a data-id=${id} onclick="listarCandidatos(this)" type="button" class="btn btn-primary">Candidatos</a>
        <a data-id=${id} onclick="confirmarExclusao(this)" type="button" class="btn btn-danger">Excluír</a>
      </div>
    </div>
  </div>
</script>
<script id="listCandidatos" type="text/x-jQuery-tmpl">
  <div class="row align-items-center text-start mb-3">
    <div class="col-3"><img src="static/img/${foto}" class="img-fluid rounded-circle fotoCandidato" alt="..."></div>
    <div class="col-6"><a class="nomeCandidato" href="/usuario/${username}" target="_blank"><h5>${username}</h5></a></div> 
    <div class="col">
      <!--<a type="button" class="btn btn-success"><i class="fas fa-check"></i></a>
      <a type="button" class="btn btn-danger"><i class="fas fa-times"></i></a>-->
    </div>
  </div>
</script>
<div class="container">
<h2 class="tituloPagina pb-2 mt-4 mb-4">{{ title }}</h2>
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert-{{ category }} mx-auto" style="max-width: 800px;" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}
<div id="todasasvagas">
{% if vaga.items %}
{% for vagas in vaga.items %}
<div class="card mb-3 mx-auto" id="{{ vagas.id }}" style="max-width: 800px;">
  <div class="row g-0 p-4">
    <div class="col-md-4">
      <img src="{{ url_for('static', filename= 'img/' + vagas.foto_vaga) }}" class="vagaImagem img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title tituloVaga">{{ vagas.titulo }} </h5>
        <p class="card-text"><small class="text-muted autor">{{vagas.autor.username}}</small></p>
        <p class="card-text">{{vagas.descricao}}</p>
        <p class="card-text tag {{vagas.curso}}"><small>{{vagas.curso}}</small></p>
        <p class="card-text tag duracao"><small><i class="far fa-clock"></i> {{vagas.prazoInicial.strftime('%d/%m/%Y')}} até {{vagas.prazoFinal.strftime('%d/%m/%Y')}}</small></p>
        <br>
        <a data-id={{vagas.id}} onclick="editarVaga(this)" type="button" class="btn btn-primary">Editar</a>
        <a data-id={{vagas.id}} onclick="listarCandidatos(this)" type="button" class="btn btn-primary">Candidatos</a>
        <a data-id={{vagas.id}} onclick="confirmarExclusao(this)" type="button" class="btn btn-danger">Excluír</a>
      </div>
    </div>
  </div>
</div>
{% endfor %}
{% else %}
  <div class="text-center">
  <h2>Nenhuma vaga encontrada</h2>
  </div>
{% endif %}
</div>
<div class="text-center">
  {% for page_num in vaga.iter_pages() %}
{% if page_num %}
  <a class=" botaoPaginacao mb-4" href="{{ url_for (request.endpoint, page=page_num, **request.view_args)}}">{{ page_num }}</a>
{% else %}
... 
{% endif %}
{% endfor %}
</div>
</div>
<div class="modal fade" id="editar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="nome_modal">Editar Vaga</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="dados">
        <form method="post" class="atualizarForm" id="atualizarVaga">
          {{ form.hidden_tag() }}
          <div>
            {{ form.titulo.label(class="form-label") }}<br>
            {{ form.titulo(class="inputLogin") }}<br>
            </div>
    
            <div>
                {{ form.curso.label(class="form-label") }}<br>
                {{ form.curso(class="inputLogin") }}<br>
            </div>
            <div>
              <div class="d-inline">{{ form.descricao.label(class="form-label") }}</div><div class="info d-inline">
                <i class="fas fa-question-circle"></i></i>
        
              <span class="extra-info">
                Escreva informações que detalhem a vaga, a exemplo: como será o empgrego, competências necessárias, horas semanais, endereço e salário.
              </span>
            </div><br>
                {{ form.descricao(class="inputLogin") }}<br>
            </div>
    
            <div>
              <div class="d-inline">{{ form.prazoFinal.label(class="form-label") }}</div><div class="info d-inline">
                <i class="fas fa-question-circle"></i></i>
        
              <span class="extra-info">
                As incrições serão automaticamente encerradas nesta data. Você pode extender o prazo a qualquer momento.
              </span>
            </div><br>
                {{ form.prazoFinal(type="date", class="inputLogin") }}<br>
            </div>
          <button type="submit" id="salvar" class="btn btn-primary botaoFav">Salvar alteações</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
      </form>
    </div>
    </div>
  </div>
</div>
<div class="modal fade" id="deletar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="nome_modal">Apagar Vaga</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="dados2">
        Deseja mesmo excluir essa vaga?
      </div>
      <div class="modal-footer">
        <button type="button" id="excluir" onclick="deletar()" class="btn btn-danger" data-bs-dismiss="modal">Confirmar Exclusão</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="listarCandidatos" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="nome_modal">Candidatos</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="todosOsCandidatos">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>



{% endblock %}