{% extends "base.html" %}
{% block content %}
<script id="listTemplate" type="text/x-jQuery-tmpl">
    <div class="col-3 text-center"><img src="/static/img/${imagem}" class="img-fluid rounded-circle fotoCandidato" alt="..."></div>
    <div class="col-6"><a id="link{id}" class="nomeCandidato" href="/usuario/${username}"><h5>${username}</h5></a></div> 
    <div class="col">
    <a data-id=${id} onclick="editarEgresso(this)" type="button" class="btn btn-success"><i class="fas fa-user-edit"></i></i></a>
    <a data-id=${id} type="button" onclick="apagarEgresso(this)" class="btn btn-danger"><i class="fas fa-trash-alt"></i></a>
    </div>
  </script>




<div class="container">
    <h2 class="tituloPagina pb-2 mt-4">{{ title }}</h2>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert-{{ category }} mx-auto" style="max-width: 800px;" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}
    {% if user.items %}
    <div class="justify-content-start text-start mb-3 mt-4">
    <div class="row justify-content-center">
    {% for users in user.items %}
    <div id="{{users.id}}" class="row mt-3 listadosCandidatos p-3 align-items-center">
    <div class="col-3 text-center"><img src="{{ url_for('static', filename= 'img/' + users.foto_perfil) }}" class="img-fluid rounded-circle fotoCandidato" alt="..."></div>
    <div class="col-6"><a id="link{{users.id}}" class="nomeCandidato" href="{{ url_for('user',  username=users.username) }}" target="_blank"><h5>{{users.username}}</h5></a></div> 
    <div class="col">
    {% if users.type_user == "egr" %}
    <a data-id={{users.id}} onclick="editarEgresso(this)" type="button" class="btn btn-success"><i class="fas fa-user-edit"></i></i></a>
    <a data-id={{users.id}} type="button" onclick="apagarEgresso(this)" class="btn btn-danger"><i class="fas fa-trash-alt"></i></a>
    {% endif %}
    </div>
    </div>
    {% endfor %}
    </div>
    </div>
    {% else %}
    <div class="text-center">
        <h2>Nenhum egresso cadastrado</h2>
    </div>
    {% endif%}
</div>
<div class="text-center">
    {% for page_num in user.iter_pages() %}
  {% if page_num %}
    <a class=" botaoPaginacao mb-4" href="{{ url_for (request.endpoint, page=page_num, **request.view_args)}}">{{ page_num }}</a>
  {% else %}
  ... 
  {% endif %}
  {% endfor %}
</div>




{% if title == "Egressos" %}
<div class="modal fade" id="editar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="nome_modal">Editar Egresso</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" id="dados">
          <form method="post" class="atualizarForm" id="atualizarVaga">
            {{ form.hidden_tag() }}
            <div class="mb-2">
              {{ form.username.label(class="form-label") }}<br>
              {{ form.username(class="inputLogin") }}<br>
              <span id="span" style="color: red;"></span>
            </div>
            <button type="submit" id="salvarEgresso" class="btn btn-primary botaoFav">Salvar alteações</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        </form>
      </div>
      </div>
    </div>
  </div>
<div class="modal fade" id="deletar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="nome_modal">Apagar Egresso</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" id="dados2">
          Deseja mesmo excluir esse egresso?
        </div>
        <div class="modal-footer">
          <button type="button" id="excluir" onclick="deletarEgresso()" class="btn btn-danger" data-bs-dismiss="modal">Confirmar Exclusão</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
        </div>
      </div>
    </div>
</div>
{% endif %}


{% endblock%}